{
  "name": "ember-app",
  "private": true,
  "directories": {
    "doc": "doc",
    "test": "tests"
  },
  "engines": {
    "node": ">= 6.0.0"
  },
  "devDependencies": {
    "ember-cli-deploy": "0.6.0",
    "ember-cli-deploy-build": "0.1.1",
    "ember-cli-deploy-rsync": "0.0.4",
    "ember-cli-deploy-webhooks": "0.4.1",
  },
}
