- if loading_spinner
  #ember-app
    #ember-app-loading.ember-app-remove-after-load class=[options.loading_classes]
      = render partial: 'with_ember_app/loading_message'

    - if timeout_page
      #ember-app-load-error.ember-app-remove-after-load class=[options.error_classes, options.error_hide_class]
        = render partial: 'with_ember_app/error_message'

  - if timeout_page
    javascript:
      (function() {
        function removeElement(el) {
          if (el.remove) {
            el.remove();
          } else if (el.parentNode) {
            el.parentNode.removeChild(el);
          }
        }

        window.withEmberApp = {
          doneLoading: function() {
            var elements = document.getElementsByClassName('ember-app-remove-after-load');
            var length = elements.length;

            for (var index = elements.length - 1; index >= 0; index--) {
              removeElement(elements[index]);
            }
          }
        };

        setTimeout(function() {
          var loadingElement = document.getElementById('ember-app-loading');
          var errorElement = document.getElementById('ember-app-load-error');

          if (loadingElement && errorElement) {
            var parentElement = document.getElementById('ember-app');

            parentElement.removeChild(loadingElement)

            // IE 9 does not support classList
            errorElement.classList && errorElement.classList.remove && errorElement.classList.remove('#{ options.error_hide_class }');
          }
        }, #{ options.timeout_period });
      })();
